@model City

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="CityName" class="control-label"></label>
        <input asp-for="CityName" class="form-control" />
        <span asp-validation-for="CityName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CountryName" class="control-label"></label>
        <input asp-for="CountryName" class="form-control" />
        <span asp-validation-for="CountryName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    <input type="hidden" asp-for="Id" />
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
